a:active{
    color:grey;
}
a:hover{
    color:#d93658;
}

BODY{
    font-size: larger;
    background:url("../res/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white;
}

#menu{
    width:100%;
    height:3em;
    opacity:0.8;
    margin-top:1em;
    display: flex;
    flex-flow: row wrap;
    border:1px solid black;
    align-items:center;
    margin-bottom:1em;
    color:black;
}

#home select,input,textarea,#btn_einladen{
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top:0.2em;
    width:100%;
    height:1.5em;
    font-size:large;
    color:white;
}

select{
    width:100%;
    height:2.5em;
    margin-top:0.5em;
}

#Telefon{
    width: 100%;
}

#firstP{
    width:100%;
}
#firstP input, #secondP input{
    width:49%;
}

#homeLink,#archiveLink{
    flex:2 1 0%;
    font-size:45px;
    height:100%;
}

table{
    width:100%;
}


.menuActivated{
    background:lightgrey;
    font-size:smaller;
}

#einladen{
    display:none;
}

textarea{
    height:6em;
}

.green{
    background:greenyellow;
}


button,select{
    border-radius:18px;
    background:#d93658;
}

.deleteButton{
    width:100px;
    height:30px;
    margin-left:12em;
    color:white;
}

.deleteEntry{
    display:none;
}

#save{
    margin-bottom:1em;
    height:2em;
    width:100px;
}

#logo{
    float:left;
}

#header{
    font-size:2em;
    margin-bottom:2em;
}

#home div{
    padding-bottom:1em;
}

#content{
    text-align:center;
}

#archive,#qr,#etik_qr{
    text-align: left;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
}

#deleteAll{
    height:2em;
    width:100px;
    margin-left:45%;
    color:white;
}

#entry{
    margin-bottom:1em;
}

#qr,#etik_qr{
    width:280px;
    margin-bottom:2em;
}

