a:active{
    color:grey;
}
a:hover{
    color:magenta;
}

#menu{
    width:100%;
    height:3em;
    background:white;
    opacity:0.8;
    margin-top:1em;

}

#home select,input{
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top:0.2em;
    width:150px;
}

#einladen{
    display:none;
}

textarea{
    margin-top:0.2em;
}

.green{
    background:greenyellow;
}

#home div{
    padding-bottom:1em;
}

#content{
    text-align:center;
}

#archive,#qr{
    text-align: left;
    margin-left:auto;
    margin-right:auto;
    width: 500px;
}

#entry{
    margin-bottom:1em;
}

#qr{
    width:280px;
    margin-bottom:2em;
}

